##PINLOCK_BEGIN

NET "io_C1_PCLK"	period = 100 MHz ;	#
NET "io_C2_PCLK"	period = 100 MHz ;	#

#BANK2, 3.3V
NET	i_clk_100mhz		LOC = T8		|	IOSTANDARD = LVCMOS33;	#
NET	io_led_D8			LOC = N11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_led_D9			LOC = T11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

#BANK1, 1.8V
NET	io_gpio<0>			LOC = E12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<1>			LOC = B16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<2>			LOC = F12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<3>			LOC = E16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<4>			LOC = H14	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<5>			LOC = L12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<6>			LOC = L13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<7>			LOC = M13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

#BANK0(CIS), VCCO_0
#1. parallel dual CIS
NET	io_C2_SCL			LOC = C5		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_SDA			LOC = D5		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_MCLK			LOC = A6		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_RESETn		LOC = B6		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_FLASH			LOC = A5		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_SADDR			LOC = B5		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<7>		LOC = C6		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<6>		LOC = D6		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<5>		LOC = E6		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<4>		LOC = F7		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<2>		LOC = C8		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<3>		LOC = D8		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<1>		LOC = D12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_DATA<0>		LOC = D11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_FV				LOC = E11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_LV				LOC = F10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_CLKn			LOC = A9		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C2_PCLK			LOC = C9		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

NET	io_C1_SCL			LOC = A7		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_SDA			LOC = C7		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_MCLK			LOC = A8		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_RESETn		LOC = B8		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_FLASH			LOC = D9		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_SADDR			LOC = F9		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<0>		LOC = C10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<1>		LOC = E10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<3>		LOC = A11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<2>		LOC = C11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<4>		LOC = A12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<5>		LOC = B12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<6>		LOC = A13	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_DATA<7>		LOC = C13	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_FV				LOC = A14	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_LV				LOC = B14	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_CLKn			LOC = A10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_C1_PCLK			LOC = B10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
##2. LVDS
#NET	io_TL_Dp<8>			LOC = C4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<8>			LOC = A4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<5>			LOC = B5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<5>			LOC = A5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<7>			LOC = D5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<7>			LOC = C5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<6>			LOC = B6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<6>			LOC = A6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<3>			LOC = F7	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<3>			LOC = E6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<7>			LOC = C7	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<7>			LOC = A7	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<4>			LOC = D6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<4>			LOC = C6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<6>			LOC = B8	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<6>			LOC = A8	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_CLKp			LOC = C9	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_CLKn			LOC = A9	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_CLKp			LOC = B10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_CLKn			LOC = A10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<4>			LOC = E10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<4>			LOC = C10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<2>			LOC = D8	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<2>			LOC = C8	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<3>			LOC = C11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<3>			LOC = A11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<5>			LOC = F9	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<5>			LOC = D9	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<2>			LOC = B12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<2>			LOC = A12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<1>			LOC = C13	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<1>			LOC = A13	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<0>			LOC = F10	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<0>			LOC = E11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dp<0>			LOC = B14	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TR_Dn<0>			LOC = A14	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dp<1>			LOC = D11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
#NET	io_TL_Dn<1>			LOC = D12	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#


#BANK(FX3), VCCO_3
NET	io_fx3_CTL<11>					LOC = M4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<10>					LOC = M3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<15>					LOC = M5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<14>					LOC = N4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<30>					LOC = R2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<31>					LOC = R1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<28>					LOC = P2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<29>					LOC = P1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<26>					LOC = N3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<27>					LOC = N1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<24>					LOC = M2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<25>					LOC = M1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<22>					LOC = L3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<23>					LOC = L1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<20>					LOC = K2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<21>					LOC = K1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<18>					LOC = J3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<19>					LOC = J1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<17>					LOC = H2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<16>					LOC = H1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<0>					LOC = G3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<1>					LOC = G1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<3>					LOC = F2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<2>					LOC = F1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_i2c_sda					LOC = K3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_i2c_scl					LOC = J4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_GPIO45					LOC = J6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_spi_mosi_uart_rx		LOC = H5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_PCLK						LOC = H4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_INT_N_CTL15			LOC = H3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<13>					LOC = L4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<12>					LOC = L5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<1>					LOC = E2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<0>					LOC = E1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<9>					LOC = K5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<8>					LOC = K6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<3>					LOC = C3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<2>					LOC = C2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<5>					LOC = D3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<4>					LOC = D1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<7>					LOC = C1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<6>					LOC = B1	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_spi_miso_uart_tx		LOC = G6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_spi_ssn_uart_cts		LOC = G5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<5>					LOC = B2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<4>					LOC = A2	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<11>					LOC = F4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<10>					LOC = F3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<7>					LOC = E4	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<6>					LOC = E3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_spi_sck_uart_rts		LOC = F6	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_CTL<12>					LOC = F5	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<9>					LOC = B3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_fx3_DQ<8>					LOC = A3	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
