##PINLOCK_BEGIN

#BANK2, 3.3V
NET	i_clk_100mhz		LOC = T8		|	IOSTANDARD = LVCMOS33;	#
NET	io_led_D8			LOC = N11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_led_D9			LOC = T11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

#BANK1, 1.8V
NET	io_gpio<0>			LOC = E12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<1>			LOC = B16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<2>			LOC = F12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<3>			LOC = E16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<4>			LOC = H14	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<5>			LOC = L12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<6>			LOC = L13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<7>			LOC = M13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

#BANK2, 3.3V
NET	HDMI_Dp<0>			LOC = P4		|	IOSTANDARD = TMDS_33;		#BLUE
NET	HDMI_Dn<0>			LOC = T4		|	IOSTANDARD = TMDS_33;
NET	HDMI_Dp<1>			LOC = R5		|	IOSTANDARD = TMDS_33;		#RED
NET	HDMI_Dn<1>			LOC = T5		|	IOSTANDARD = TMDS_33;
NET	HDMI_Dp<2>			LOC = P6		|	IOSTANDARD = TMDS_33;		#GREEN
NET	HDMI_Dn<2>			LOC = T6		|	IOSTANDARD = TMDS_33;
NET	HDMI_CLKp			LOC = M9		|	IOSTANDARD = TMDS_33;		#CLK
NET	HDMI_CLKn			LOC = N8		|	IOSTANDARD = TMDS_33;

#BANK0, VCCO0
NET	i_clk_50mhz			LOC = E7		| IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	o_clk_50mhz			LOC = E8		| IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#


NET "dvid_serdes_u0/pixel_clock"   		 PERIOD = 150 MHz;
NET "dvid_serdes_u0/data_load_clock"    PERIOD = 300 MHz;
