##PINLOCK_BEGIN
PIN "clock_wizard_100mhz_input_u0/clkout2_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

#BANK2, 3.3V
NET	i_clk_100mhz		LOC = T8		|	IOSTANDARD = LVCMOS33;	#
NET	io_led_D8			LOC = N11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_led_D9			LOC = T11	|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

#BANK1, 1.8V
NET	io_gpio<0>			LOC = E12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<1>			LOC = B16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<2>			LOC = F12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<3>			LOC = E16	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<4>			LOC = H14	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<5>			LOC = L12	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<6>			LOC = L13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	io_gpio<7>			LOC = M13	|	IOSTANDARD = LVCMOS18;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#

NET	io_DS28E01P			LOC = T7		|	IOSTANDARD = LVCMOS33;	#	| PULLDOWN	| SLEW = FAST	| OUT_TERM = UNTUNED_50	| DRIVE = 4;	#
NET	UART_TX				LOC = P5		|	IOSTANDARD = LVCMOS33; #
NET	UART_RX				LOC = M14	|	IOSTANDARD = LVCMOS18;  #
